/* CSS for WP-Scholar Admin Areas */
.scholar_row {
	display: block;
	clear: both;
}

.scholar_column {
	display: inline-block;
}

.large-3 {
	width: 24.5%;
}

.large-4 {
	width: 33%;
}

.large-6 {
	width: 49%;
}

.large-9 {
	width: 74%;
}

.large-12 {
	width: 100%;
}

.scholar_row label {
	display: block;
	padding: 5px;
	background: #eee;
	font-weight: 600;
}

.scholar_row input[type=text] {
	width: 100%;
}

legend {
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0 20px 0;
}